# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
Test/Debug
Test/Release
Test/ipch
Test/RCPClientCPP.opensdf
Test/RCPClientCPP.sdf
Build/MSVS2010/RCPClient/Debug
Build/MSVS2010/RCPClient/Release
Lib/Debug
Lib/Release
Build/MSVS2010/Debug
Build/MSVS2010/Release
Build/MSVS2010/ipch
Build/MSVS2010/RCPClient.sdf
Build/MSVS2010/RCPClient.suo
Test/RCPClientCPP.suo
Build/MSVS2010/RCPClient.opensdf
Build/MSVS2010/Debug32
Build/MSVS2010/Debug64
Build/MSVS2010/Release32
Build/MSVS2010/Release64
Lib
Bin
Test/Win32
Test/x64
